<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(form.value)"   #form="ngForm">
            <input type="text" ngModel name="name">
            <input type="text" ngModel name="surname">
            <input type="date" ngModel name="date">
            <p>{{name.name}}</p>
            <p>{{name.surname}}</p>
            <p>{{name.date}}</p>
            <p>{{name.select}}</p>
            <label for="cars">Choose a car</label>
            <select name="cars" id="cars" ngModel name="select">
                <option value="volvo">Volovo</option>
                <option value="saab">Saab</option>
                <option value="BMW">BMW</option>
            </select>
            <button type="submit">Button</button>
            <p>{{tempName}}</p>
           
        </form>
    </div>
</div>